html {
  background: white;
  font-family: sans-serif;
  line-height: 1.4;
}

body {
  margin: 2rem;
}

header, nav, main, footer {
  max-width: 30rem;
  margin: 3rem auto;
}

main {
  padding-bottom: 5rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: darkgreen;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin-top: 3rem;
}

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}

nav ul, nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
