<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>{{site.title}}</title>

    <!-- Twitter Card -->
    <meta name=twitter:card content=summary>
    <meta name=twitter:title content="{{site.title}}">
    <meta name=twitter:description content="{{site.description}}">
    <!-- TODO <meta name=twitter:image content="{{site.logo}}"> -->

    <!-- OpenGraph -->
    <meta name=og:type content=website>
    <meta name=og:title content="{{site.title}}">
    <meta name=og:description content="{{site.description}}">
    <meta name=og:site content="{{site.title}}">
    <!-- TODO <meta name=og:image content="{{site.logo}}"> -->

    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel=stylesheet href=normalize.css>
    <link rel=stylesheet href=styles.css>
  </head>
  <body>
    <header>
      <img src=lemming.svg alt=lemming class=lemming>
      <h1>{{site.title}}</h1>
      <p>{{site.description}}</p>
    </header>
    <nav>
{% include toc.html html=content h_min=1 %}
    </nav>
    <main>
{{content}}
    </main>
    <footer>
      <p><a href=https://github.com/lemminglaw/lemminglaw.com>Source</a></p>
    </footer>
  </body>
</html>
